#level-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#level-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
.peas {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
}
#level-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
.onions{
    grid-column: 2/4;
}
.tomatoes {
    grid-column: 1/3;
}
.carrots {
    grid-column: 1/4;
}
}
#level-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

.peas {
    grid-column: 1/3;
}
.onions {
    grid-column: 3;
    grid-row: 1/3;
}
.carrots {
    grid-column: 4;
    grid-row: 1/3;
}
}
#level-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

.carrots {
grid-column: 1/2;
grid-row: 1/4;
}
.onions {
    grid-column: 3;
    grid-row: 1/3;
}
.tomatoes {
    grid-column: 2/5;
}
.peas {
    grid-column: 4/6;
    grid-row: 2;
}
.lettuce {
    grid-column: 5;
    grid-row: 1;
}
}
#level-6 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);

.carrots {
    grid-column: 1/6;
    grid-row: 1;
}
.onions {
    grid-column: 1;
    grid-row: 2/4;
}
.peas {
    grid-column: 2/5;
    grid-row: 2/4;
}
.tomatoes {
    grid-column: 5;
    grid-row: 2/4;
}
.lettuce {
    grid-column: 1/6;
}
}
#level-7 {
    display: grid;
    grid-template-columns: repeat(5, minmax(5ch, 1fr));
}
#level-8{
    display: grid;
    grid-template-columns: repeat(auto-fit, 15ch);
    grid-auto-rows: 5ch;

}
#level-9 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-auto-rows: 5rem;

}